// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#navbar {
  background-color: #262626;

  a{
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
  }

  a:hover {
    color: #fac42b;
  }
}
