// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#navbar {
  background: rgba(0,0,0,0);
  border-style: none;
  padding-top: 10px;
  padding-right: 100px;
  padding-bottom: 10px;
  padding-left: 100px;
  font-size: 15px;
  font-weight: bold;

  a {
    color: #0057e7;
  }

  a:hover {
    color: #d62d20;
  }

  a.navbar-brand {
    color: #d62d20;
  }

  a.navbar-home {
    color: #008744;
  }

  a.navbar-home:hover {
    color: #d62d20;
  }
}

body {
  position: relative;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;

  h1 {
    color: #262626;
    letter-spacing: 1px;
  }

  h3 {
    color: #262626;
    letter-spacing: 1px;
  }

  p {
    color: #666666;
    letter-spacing: 1px;
  }
}

#home {
  img {
    width: 100%;
    height: 100%;
  }

  a.left:hover {
    background-color: #000000;
  }

  a.right:hover {
    background-color: #000000;
  }
}

#about {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;

  span {
    font-size: 70px;
  }

  span.glyphicon-cog {
    color: #ffa700;
  }

  span.glyphicon-user {
    color: #008744;
  }

  span.glyphicon-flash {
    color: #0057e7;
  }
}

#products {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background-color: #f5f5f5;

  img {
    margin: 0 auto;
  }
}

#contact {
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;

  a {
    font-size: 70px;
    color: #fac42b;
    text-decoration: initial;
  }

  span.glyphicon-home {
    color: #ffa700;
  }

  span.glyphicon-earphone {
    color: #008744;
  }

  span.glyphicon-envelope {
    color: #0057e7;
  }
}

#maps {
  height: 380px;
  width: 100%;

  iframe {
    height: 100%;
    width: 100%;
    border-style: none;
  }
}

#footer {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #000000;

  p {
    font-size: 10px;
  }

  a {
    font-size: 40px;
    color: #ffffff;
    text-decoration: initial;
  }

  a:hover.fa-facebook-square {
    color: #3b5998;
  }

  a:hover.fa-instagram {
    color: #E1306C;
  }

  a:hover.fa-linkedin-square {
    color: #0077B5;
  }
}

#scrolltop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #d62d20;
  color: #ffffff;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;

  span {
    color: #ffffff;
  }
}
